# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Build
/dist

# Others
coverage/

# Optional
*.sublime-workspace
*.sublime-project
